/* Typography
-------------------------------------------------------------- */

/* Base Settings
-------------------------------------------------------------- */
#container {
  width: 980px;
  overflow-x: auto;
}

body {
  background:#ddd;
  font-family:Helvetica, Arial, sans-serif;
  color:#333;
  font-size:14px;
  line-height: 1.5em;
  padding:0;
  margin:0;
}

/* HTML Elements
-------------------------------------------------------------- */
h1 { font-size: 175%; line-height:150%; margin-bottom:15px; font-weight: bold;}
h2 { font-size: 150%; line-height:150%; margin-bottom:15px; font-weight: bold;}
h3, h4, h5, dt { font-size:125%; line-height:150%; margin-bottom:15px;  font-weight: bold;}

dl,
dd,
dt {
  margin: 1em 0 1.5em 0;
  display: block;
}



#container {
  background: #000000;
  padding: 0px 0px 0px 0px;
}

#header-bottom .block {
  margin-bottom: 10px;
}

.header-logo-container{
  padding-left: 5px;
}

#slogan {
  padding: 10px;
}

#main {
  background: #ffffff;
  padding: 0px 7px 0px 10px;
}

.title-container,
#content-container {
  padding: 0px 5px 0px 10px;
}

p {
  width: auto;
}

.meta {
  font-size: 90%;
  color: #666;
  padding: 10px 0 0 0;
}

#main ol,
#main ul {
  padding: 5px;
  margin: 0;
}

#main ul.pager  li {
  padding: inherit;
  margin:  inherit;
}

#main ol li {
  list-style:decimal;
  list-style-position: inside;
  padding: 0 20px 10px 0;
  margin: 0;
}

#main ul li {
  list-style: disc;
  list-style-position: inside;
  padding: 0;
  margin: 0;
}

#content .views-row {
  margin-bottom: 40px;
}

#content h2 {
  width: 80%;
  margin-bottom: 0;
}

.form-text {
/*   font-family: Arial, Helvetica, "Nimbus Sans L", FreeSans, sans-serif;  */
}


/* HTML Elements
-------------------------------------------------------------- */
h1 { font-size:24px; line-height:150%; margin-top:0px; margin-bottom:15px;}
h2 { font-size:18px; line-height:150%; margin-top:0px; margin-bottom:15px;}
h3, h4, h5, dt { font-size:16px; line-height:150%; margin-top:15px; margin-bottom:10px;}


dl,
dd,
dt {
  margin: 1em 0 1.5em 0;
  display: block;
}

#main a {
    font-weight: bold;
}

a:link, a:visited {
    color: #0A8093;
    text-decoration:none;

}

a:hover, a:active {
    color: #0A8093;
    text-decoration:underline;
}

p {
    margin-top: 1em;
    line-height: 1.5em;
}

strong {
    font-weight: bold;
}

#sidebar-second .block ul,
#sidebar-second .block ul li {
  margin: 0;
  padding: 0;
}

#sidebar-second .title {
  color: #0A8093;
}

#sidebar-second  h3, 
#sidebar-second  h3 strong{
  color: #aaa;
  font-weight: normal;
}
.views-row .links {
  margin: 0;
  padding: 0;
}

.views-row .links li {
  background: #ddd;
  margin: 5px 5px 5px 0;
  padding: 5px;
  display: block;
  float: left;
}

#footer {
  background: #000;
}

#block-menu-menu-footer-menu li,
#block-system-main-menu li {
  list-style: none;
  float: left;
  display: block;
  padding: 5px 30px 0px 0;
  text-decoration: none;
}

#block-menu-menu-footer-menu {
  padding: 20px;
}

#block-menu-menu-footer-menu li a {
  padding-right: 30px;
}

#block-menu-menu-footer-menu li a,
#block-system-main-menu a {
  color: #ddd;
  font-size: 100%;
  text-decoration: none;
  font-weight: normal;
}

#block-menu-menu-footer-menu a:hover, #block-menu-menu-footer-menu a:active,
#block-system-main-menu a:hover, #block-system-main-menu a:active {
  color: #fff;
  text-decoration: none;
  padding-top: 5px;
}

.node .field {
  margin-bottom: 20px;
}

.node .field-label {
  font-weight: normal;
  color: #666;
}

.flag-wrapper .flag-action,
.flag-wrapper .unflag-action {
  background-color: #B2E5ED;
  margin: 10px;
  display: block;
  padding: 10px;
  font-size: 90%;
}

#main ul.pager {
  margin-top: 10px;
}

.flag-wrapper .unflag-action {
  background-color: #D0F1F7;
}

#main #view-id-symbols-page table a {
  font-weight: normal;
}

#view-id-symbols-page table td {
  padding: 3px;
  padding-left: 10px;
}

#view-id-symbols-page table .views-field-field-event a {
  color: #666;
  font-size: 90%;
}

#main .horizontal-tabs ul.horizontal-tabs-list {
  background: none;
  border: none;
}
#main .horizontal-tabs ul {
  border: none;
}

#main .horizontal-tabs {
  border: none;
}
#main .horizontal-tabs ul li {
  list-style: none;
  padding: 10px;
  margin-right: 10px;
  border: none;
}
#main .horizontal-tabs ul li a,
#main .horizontal-tabs ul li a:active,
#main .horizontal-tabs ul li a:hover,
#main .horizontal-tabs ul.horizontal-tabs-list li a:hover {
  background-color: none;
  background: none;
}
#main .horizontal-tabs-list {
  margin: 20px 0;
}
#main .horizontal-tabs ul li a:focus {
  outline: none;
  border: none;
}

#main .horizontal-tab-button .summary,
#main .horizontal-tab-button #active-horizontal-tab {
  display: none;
}

#comments {
  margin-top: 30px;
}

#sidebar-second .views-row {
  margin: 10px 0 20px 0;
}
#main .field-items .field-label {
  width: 180px;
}
#main .field-items p {
  margin: 0 0 10px 0;

}

/** Custom Style **/

.page-node-add label {
  font-weight: bold;
  font-size: 125%;
}


.page-node-add .field-type-file span.fieldset-legend,
.page-node-add .field-type-image span.fieldset-legend {
  font-weight: bold;
  font-size: 125%;

}

.page-node-add .field-type-file label,
.page-node-add .field-type-image label {
  font-weight: normal;
  font-size: 100%;
    padding-bottom: 20px;
}

.filter-wrapper {
  display: none;
}